<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/house</property>

        <!-- 设置批处理大小(实测发现并没有什么卵用) -->
        <property name="jdbc.batch_size">50</property>
        
        <!-- 设置默认的事务隔离级别为READ-COMMITTED -->
        <property name="connection.isolation">2</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">10</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>

		<!-- DRY - Don't Repeat Yourself -->
        <property name="cache.use_second_level_cache">true</property>
		<property name="cache.use_query_cache">true</property>
        <property name="cache.region.factory_class">
        	org.hibernate.cache.ehcache.EhCacheRegionFactory
        </property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        
        <property name="hbm2ddl.auto">update</property>
        
        <property name="current_session_context_class">thread</property>
        <mapping class="com.qf.domain.TbCityEntity"/>
        <mapping class="com.qf.domain.Distric"/>
        <mapping class="com.qf.domain.House"/>
        <mapping class="com.qf.domain.HousePhoto"/>
        <mapping class="com.qf.domain.HouseType"/>
        <mapping class="com.qf.domain.LoginLog"/>
        <mapping class="com.qf.domain.Province"/>
        <mapping class="com.qf.domain.User"/>

        <!--
        <mapping class="com.qfedu.hibernate.domain.Goods"/>
        <mapping class="com.qfedu.hibernate.domain.Book"/>
        <mapping class="com.qfedu.hibernate.domain.Digit"/>

        <mapping class="com.qfedu.hibernate.domain.Department"/>
        <mapping class="com.qfedu.hibernate.domain.Employee"/>
        -->
		
		<!--
		<mapping class="com.qfedu.hibernate.domain.Student"/>
		<mapping class="com.qfedu.hibernate.domain.Course"/>
		<mapping class="com.qfedu.hibernate.domain.Score"/>
		-->

		<!-- 
        <mapping class="com.qfedu.hibernate.domain.Person" />
        <mapping class="com.qfedu.hibernate.domain.IdCard" />
    	
        <mapping resource="com/qfedu/hibernate/domain/User.hbm.xml" />
    	-->

        <!--
        <mapping resource="com/qfedu/hibernate/domain/Person.hbm.xml" />
        <mapping resource="com/qfedu/hibernate/domain/IdCard.hbm.xml" />
        -->

    </session-factory>

</hibernate-configuration>